<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Comiditas</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <div id="modal-background"></div>
    <div id="modal">
      <h2>Notes:</h2>
      <textarea id="notes" rows="5"></textarea>
      <button>Save</button>
    </div>

    <div class="tabs <%= menu_class(@conn) %>">
      <a href="<%= Routes.page_path(@conn, :list, uid: @conn.params["uid"]) %>" class="tab-item active"><i class="material-icons">view_list</i></a>
      <a href="<%= Routes.page_path(@conn, :settings, uid: @conn.params["uid"]) %>" class="tab-item"><i class="material-icons">settings</i></a>
      <%= if @power_user do %>
        <%= if String.to_integer(@conn.params["uid"]) == Guardian.Plug.current_resource(@conn).id do %>
        <a href="<%= Routes.page_path(@conn, :users, uid: @conn.params["uid"]) %>" class="tab-item person"><i class="material-icons">person</i></a>
        <% else %>
        <a href="<%= Routes.page_path(@conn, :list, uid: Guardian.Plug.current_resource(@conn).id) %>" class="tab-item person"><i class="material-icons">person</i></a>
        <% end %>
      <% end %>
      <a href="<%= Routes.page_path(@conn, :totals, uid: @conn.params["uid"]) %>" class="tab-item"><i class="material-icons">done_all</i></a>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha256-eVNjHw5UeU0jUqPPpZHAkU1z4U+QFBBY488WvueTm88=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
