  <tr class="weekday-<%= @day.weekday %>">
    <td class="day">
      <%= print_weekday(@day.weekday) %><br/>
      <strong><%= @day.date.day %></strong>
    </td>
    <%= print_day(@day, @today, @frozen) %>
    <td class="notes <%= if @frozen and @day.date == @today, do: "frozen", else: nil %>" data-date="<%= @day.date %>" data-notes="<%= @day.notes %>">
      <i class="material-icons <%= if @day.notes != nil, do: "red" %>">description</i>
    </td>
  </tr>