<tr>
  <td>
    <%= @day.date %>
  </td>
  <td class="circle">
    <%= draw(@day.breakfast) %>
  </td>
  <td class="circle">
    <%= draw(@day.lunch) %>
  </td>
  <td class="circle">
    <%= draw(@day.dinner) %>
  </td>
  <td>
    <i class="material-icons">description</i>
  </td>
</tr>