/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
    margin: 0;
}
.container {
    padding: 0;
}
.login {
    max-width: 20em;
    margin: auto;
}
.tabs {
    position: fixed;
    bottom: 0em;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    height: 5em;
}
.tabs i {
    margin-top: 0.5em;
    font-size: 2.5em;
    display: block;
}
td i.material-icons {
    font-size: 35px;
}
td {
    padding-right: 0.5em;
}
.tab-item {
    flex: 1;
}
.day {
    font-weight: 700;
    color: gray;
    padding-left: 0.5em !important;
}
.day strong {
    color: black;
    font-size: 27px;
}
.circle {
    font-size: 13px;
}
.weekday-6, .weekday-7 {
    background-color: lightgray;
}
#selector {
    font-size: 13px;
    overflow: visible;
    position: fixed;
    display: none;
}
th, td {
    text-align: center;
}

svg text, * {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
a, td, svg text::selection {
    background: none;
}

/* totals  */
.totals {
    padding: 1em;
    font-weight: 700;
    font-size: 1.8em;
}
.totals .td_meal {
    font-size: 0.5em;
    font-weight: 400;
}
.totals thead {
    font-size: 0.35em;
}

/* users */
.users {
    font-size: 1.5em;
    font-weight: 700;
}