/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.circle {
    font-size: 13px;
}
.selector {
    font-size: 9px;
}
th, td {
    text-align: center;
}

a, td, svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
a, td, svg text::selection {
    background: none;
}