<h2>Edit template</h2>

<%= render "form.html", changeset: @changeset,
                        action: template_path(@conn, :update, @template) %>

<%= link "Back", to: template_path(@conn, :index) %>
